<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
   <key>items</key>
   <array>
       <dict>
           <key>assets</key>
           <array>
               <dict>
                   <key>kind</key>
                   <string>software-package</string>
                   <key>url</key>
                   <string>http://www.chengwuwa.cn/public/菲爱_20190828114347_resigned.ipa</string>
               </dict>
               <dict>
                   <key>kind</key>
                   <string>display-image</string>
                   <key>needs-shine</key>
                   <true/>
                   <key>url</key>
                   <string>http://www.chengwuwa.cn/public/icon.png</string>
               </dict>
               <dict>
					<key>kind</key>
					<string>full-size-image</string>
					<key>url</key>
					<string>http://www.chengwuwa.cn/public/icon.png</string>
               </dict>
           </array>
           <key>metadata</key>
           <dict>
               <key>bundle-identifier</key>
               <string>com.feiai.phonelive</string>
               <key>bundle-version</key>
               <string>1.4</string>
               <key>kind</key>
               <string>software</string>
               <key>subtitle</key>
               <string>菲爱短视频</string>
               <key>title</key>
               <string>菲爱短视频</string>
           </dict>
       </dict>
   </array>
</dict>
</plist>

