<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>iphoneLive.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>BBE28A9AF2FE49EE8896D89C4DE3F2B6ED839F53</string>
				<key>dateExpires</key>
				<string>2020/8/21</string>
				<key>type</key>
				<string>iOS Development</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>BBE28A9AF2FE49EE8896D89C4DE3F2B6ED839F53</string>
						<key>dateExpires</key>
						<string>2020/8/21</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>AFNetworking.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>3C868PLY43</string>
						<key>name</key>
						<string>SIQI LIU</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>BBE28A9AF2FE49EE8896D89C4DE3F2B6ED839F53</string>
						<key>dateExpires</key>
						<string>2020/8/21</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>BlocksKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>3C868PLY43</string>
						<key>name</key>
						<string>SIQI LIU</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>BBE28A9AF2FE49EE8896D89C4DE3F2B6ED839F53</string>
						<key>dateExpires</key>
						<string>2020/8/21</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>CWStatusBarNotification.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>3C868PLY43</string>
						<key>name</key>
						<string>SIQI LIU</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>BBE28A9AF2FE49EE8896D89C4DE3F2B6ED839F53</string>
						<key>dateExpires</key>
						<string>2020/8/21</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>CocoaLumberjack.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>3C868PLY43</string>
						<key>name</key>
						<string>SIQI LIU</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>BBE28A9AF2FE49EE8896D89C4DE3F2B6ED839F53</string>
						<key>dateExpires</key>
						<string>2020/8/21</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>EBBannerView.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>3C868PLY43</string>
						<key>name</key>
						<string>SIQI LIU</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>BBE28A9AF2FE49EE8896D89C4DE3F2B6ED839F53</string>
						<key>dateExpires</key>
						<string>2020/8/21</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>GPUImage.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>3C868PLY43</string>
						<key>name</key>
						<string>SIQI LIU</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>BBE28A9AF2FE49EE8896D89C4DE3F2B6ED839F53</string>
						<key>dateExpires</key>
						<string>2020/8/21</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>HPGrowingTextView.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>3C868PLY43</string>
						<key>name</key>
						<string>SIQI LIU</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>BBE28A9AF2FE49EE8896D89C4DE3F2B6ED839F53</string>
						<key>dateExpires</key>
						<string>2020/8/21</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>HappyDNS.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>3C868PLY43</string>
						<key>name</key>
						<string>SIQI LIU</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>BBE28A9AF2FE49EE8896D89C4DE3F2B6ED839F53</string>
						<key>dateExpires</key>
						<string>2020/8/21</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>IQKeyboardManager.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>3C868PLY43</string>
						<key>name</key>
						<string>SIQI LIU</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>BBE28A9AF2FE49EE8896D89C4DE3F2B6ED839F53</string>
						<key>dateExpires</key>
						<string>2020/8/21</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>MBProgressHUD.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>3C868PLY43</string>
						<key>name</key>
						<string>SIQI LIU</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>BBE28A9AF2FE49EE8896D89C4DE3F2B6ED839F53</string>
						<key>dateExpires</key>
						<string>2020/8/21</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>MJExtension.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>3C868PLY43</string>
						<key>name</key>
						<string>SIQI LIU</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>BBE28A9AF2FE49EE8896D89C4DE3F2B6ED839F53</string>
						<key>dateExpires</key>
						<string>2020/8/21</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>MJRefresh.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>3C868PLY43</string>
						<key>name</key>
						<string>SIQI LIU</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>BBE28A9AF2FE49EE8896D89C4DE3F2B6ED839F53</string>
						<key>dateExpires</key>
						<string>2020/8/21</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>MLLabel.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>3C868PLY43</string>
						<key>name</key>
						<string>SIQI LIU</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>BBE28A9AF2FE49EE8896D89C4DE3F2B6ED839F53</string>
						<key>dateExpires</key>
						<string>2020/8/21</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>Masonry.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>3C868PLY43</string>
						<key>name</key>
						<string>SIQI LIU</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>BBE28A9AF2FE49EE8896D89C4DE3F2B6ED839F53</string>
						<key>dateExpires</key>
						<string>2020/8/21</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>Protobuf.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>3C868PLY43</string>
						<key>name</key>
						<string>SIQI LIU</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>BBE28A9AF2FE49EE8896D89C4DE3F2B6ED839F53</string>
						<key>dateExpires</key>
						<string>2020/8/21</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>QBImagePickerController.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>3C868PLY43</string>
						<key>name</key>
						<string>SIQI LIU</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>BBE28A9AF2FE49EE8896D89C4DE3F2B6ED839F53</string>
						<key>dateExpires</key>
						<string>2020/8/21</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>Qiniu.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>3C868PLY43</string>
						<key>name</key>
						<string>SIQI LIU</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>BBE28A9AF2FE49EE8896D89C4DE3F2B6ED839F53</string>
						<key>dateExpires</key>
						<string>2020/8/21</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>SDWebImage.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>3C868PLY43</string>
						<key>name</key>
						<string>SIQI LIU</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>BBE28A9AF2FE49EE8896D89C4DE3F2B6ED839F53</string>
						<key>dateExpires</key>
						<string>2020/8/21</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>SPUncaughtExceptionHandler.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>3C868PLY43</string>
						<key>name</key>
						<string>SIQI LIU</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>BBE28A9AF2FE49EE8896D89C4DE3F2B6ED839F53</string>
						<key>dateExpires</key>
						<string>2020/8/21</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>SSZipArchive.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>3C868PLY43</string>
						<key>name</key>
						<string>SIQI LIU</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>BBE28A9AF2FE49EE8896D89C4DE3F2B6ED839F53</string>
						<key>dateExpires</key>
						<string>2020/8/21</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>SVGAPlayer.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>3C868PLY43</string>
						<key>name</key>
						<string>SIQI LIU</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>BBE28A9AF2FE49EE8896D89C4DE3F2B6ED839F53</string>
						<key>dateExpires</key>
						<string>2020/8/21</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>SafeObject.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>3C868PLY43</string>
						<key>name</key>
						<string>SIQI LIU</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>BBE28A9AF2FE49EE8896D89C4DE3F2B6ED839F53</string>
						<key>dateExpires</key>
						<string>2020/8/21</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>YYCache.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>3C868PLY43</string>
						<key>name</key>
						<string>SIQI LIU</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>BBE28A9AF2FE49EE8896D89C4DE3F2B6ED839F53</string>
						<key>dateExpires</key>
						<string>2020/8/21</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>YYImage.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>3C868PLY43</string>
						<key>name</key>
						<string>SIQI LIU</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>BBE28A9AF2FE49EE8896D89C4DE3F2B6ED839F53</string>
						<key>dateExpires</key>
						<string>2020/8/21</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>YYText.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>3C868PLY43</string>
						<key>name</key>
						<string>SIQI LIU</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>BBE28A9AF2FE49EE8896D89C4DE3F2B6ED839F53</string>
						<key>dateExpires</key>
						<string>2020/8/21</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>YYWebImage.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>3C868PLY43</string>
						<key>name</key>
						<string>SIQI LIU</string>
					</dict>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>3C868PLY43.com.feiai.phonelive</string>
				<key>aps-environment</key>
				<string>development</string>
				<key>com.apple.developer.team-identifier</key>
				<string>3C868PLY43</string>
				<key>get-task-allow</key>
				<true/>
			</dict>
			<key>name</key>
			<string>iphoneLive.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>7d7437f9-6411-4ff4-bc80-0ad7f775576a</string>
				<key>name</key>
				<string>FAIWR</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>3C868PLY43</string>
				<key>name</key>
				<string>SIQI LIU</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
